In [21]:
#!pip install mlxtend

In [22]:

import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

In [23]:
item_list = pd.read_excel(r'C:\Users\swalp\OneDrive\Desktop\Data Analyst\DATA SCIENCE\new Assignment\Association Rules\Online retail.xlsx',header=None,names=["Transaction"])
item_list.head()

                                         Transaction
0  shrimp,almonds,avocado,vegetables mix,green gr...
1                             burgers,meatballs,eggs
2                                            chutney
3                                     turkey,avocado
4  mineral water,milk,energy bar,whole wheat rice...

In [24]:
item_list.shape # shape of dataframe

(7501, 1)

In [25]:
item_list.isnull().sum()  # no null values

Transaction    0
dtype: int64

#### converting the values in transcation columns in to string.Process would be like
step 1) selects the column.

step 2) Converts each row into a string, splits it by commas, and returns a list of items for that transaction.

step 3) Turns the pandas Series of lists into a Python list of lists.

and finally showing only for 5 records for demo purpose by for loop.

In [27]:
list = item_list["Transaction"].apply(lambda x: str(x).split(",")).tolist()
for t in list[:5]:
    print(t)

['shrimp', 'almonds', 'avocado', 'vegetables mix', 'green grapes', 'whole weat flour', 'yams', 'cottage cheese', 'energy drink', 'tomato juice', 'low fat yogurt', 'green tea', 'honey', 'salad', 'mineral water', 'salmon', 'antioxydant juice', 'frozen smoothie', 'spinach', 'olive oil']
['burgers', 'meatballs', 'eggs']
['chutney']
['turkey', 'avocado']
['mineral water', 'milk', 'energy bar', 'whole wheat rice', 'green tea']

##### using Encoder to convert the values in numeric format, so that model understands it.

In [29]:
te=TransactionEncoder()
data=te.fit_transform(list,sparse=False)

In [39]:
df = pd.DataFrame(data, columns=te.columns_)
df

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7500,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

#### Creating frequent itemsets by using Apriori algo

In [57]:
freq_items = apriori(df, min_support=0.01, use_colnames=True)
freq_items
## it can very upon choosing min_support differntly

      support                                 itemsets
0    0.020397                                (almonds)
1    0.033329                                (avocado)
2    0.010799                         (barbecue sauce)
3    0.014265                              (black tea)
4    0.011465                             (body spray)
..        ...                                      ...
252  0.011065       (ground beef, mineral water, milk)
253  0.017064  (ground beef, spaghetti, mineral water)
254  0.015731         (spaghetti, mineral water, milk)
255  0.010265    (olive oil, spaghetti, mineral water)
256  0.011465     (spaghetti, mineral water, pancakes)

[257 rows x 2 columns]

In [59]:
freq_items1 = apriori(df, min_support=0.005, use_colnames=True)
freq_items1

      support                                      itemsets
0    0.020397                                     (almonds)
1    0.008932                           (antioxydant juice)
2    0.033329                                     (avocado)
3    0.008666                                       (bacon)
4    0.010799                              (barbecue sauce)
..        ...                                           ...
720  0.007466              (soup, spaghetti, mineral water)
721  0.009332          (spaghetti, tomatoes, mineral water)
722  0.006399            (turkey, spaghetti, mineral water)
723  0.006266  (whole wheat rice, spaghetti, mineral water)
724  0.005066              (olive oil, spaghetti, pancakes)

[725 rows x 2 columns]

#### Extracting the association rule

In [61]:
assoc_rules = association_rules(freq_items, min_threshold=0.5)
assoc_rules
# diifernt association  rules can be extracted by  changing  differnt min_threshold values)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,"(ground beef, eggs)",(mineral water),0.019997,0.238368,0.010132,0.506667,2.125563,1.0,0.005365,1.543848,0.540342,0.040816,0.352268,0.274586
1,"(ground beef, milk)",(mineral water),0.021997,0.238368,0.011065,0.503030,2.110308,1.0,0.005822,1.532552,0.537969,0.044385,0.347493,0.274725

In [63]:
assoc_rules1 = association_rules(freq_items1, min_threshold=0.5)
assoc_rules1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,"(chocolate, chicken)",(mineral water),0.014665,0.238368,0.007599,0.518182,2.173871,1.0,0.004103,1.580745,0.548028,0.030961,0.367387,0.275031
1,"(chocolate, olive oil)",(mineral water),0.016398,0.238368,0.008266,0.504065,2.114649,1.0,0.004357,1.535749,0.535896,0.033532,0.348852,0.269370
2,"(chocolate, soup)",(mineral water),0.010132,0.238368,0.005599,0.552632,2.318395,1.0,0.003184,1.702471,0.574488,0.023052,0.412618,0.288061
3,"(eggs, cooking oil)",(mineral water),0.011732,0.238368,0.006399,0.545455,2.288286,1.0,0.003603,1.675590,0.569675,0.026258,0.403195,0.286150
4,"(ground beef, eggs)",(mineral water),0.019997,0.238368,0.010132,0.506667,2.125563,1.0,0.005365,1.543848,0.540342,0.040816,0.352268,0.274586
5,"(frozen vegetables, ground beef)",(mineral water),0.016931,0.238368,0.009199,0.543307,2.279277,1.0,0.005163,1.667711,0.570931,0.037378,0.400376,0.290949
6,"(frozen vegetables, ground beef)",(spaghetti),0.016931,0.174110,0.008666,0.511811,2.939582,1.0,0.005718,1.691742,0.671179,0.047515,0.408893,0.280791
7,"(frozen vegetables, olive oil)",(mineral water),0.011332,0.238368,0.006532,0.576471,2.418404,1.0,0.003831,1.798297,0.593226,0.026864,0.443918,0.301938
8,"(frozen vegetables, soup)",(mineral water),0.007999,0.238368,0.005066,0.633333,2.656954,1.0,0.003159,2.077178,0.628658,0.020994,0.518578,0.327293
9,"(frozen vegetables, olive oil)",(spaghetti),0.011332,0.174110,0.005733,0.505882,2.905531,1.0,0.003760,1.671444,0.663346,0.031899,0.401715,0.269404
10,"(ground beef, milk)",(mineral water),0.021997,0.238368,0.011065,0.503030,2.110308,1.0,0.005822,1.532552,0.537969,0.044385,0.347493,0.274725
11,"(ground beef, pancakes)",(mineral water),0.014531,0.238368,0.007466,0.513761,2.155327,1.0,0.004002,1.566375,0.543937,0.030418,0.361583,0.272541
12,"(soup, ground beef)",(mineral water),0.009732,0.238368,0.005066,0.520548,2.183798,1.0,0.002746,1.588546,0.547410,0.020845,0.370494,0.270900
13,"(shrimp, ground beef)",(spaghetti),0.011465,0.174110,0.005999,0.523256,3.005315,1.0,0.004003,1.732354,0.674995,0.033408,0.422751,0.278856
14,"(olive oil, milk)",(mineral water),0.017064,0.238368,0.008532,0.500000,2.097595,1.0,0.004465,1.523264,0.532348,0.034557,0.343515,0.267897
15,"(soup, milk)",(mineral water),0.015198,0.238368,0.008532,0.561404,2.355194,1.0,0.004909,1.736520,0.584287,0.034820,0.424136,0.298599
16,"(turkey, milk)",(mineral water),0.011332,0.238368,0.006133,0.541176,2.270338,1.0,0.003431,1.659967,0.565950,0.025178,0.397578,0.283452
17,"(soup, olive oil)",(mineral water),0.008932,0.238368,0.005199,0.582090,2.441976,1.0,0.003070,1.822476,0.595818,0.021476,0.451296,0.301951
18,"(spaghetti, salmon)",(mineral water),0.013465,0.238368,0.006799,0.504950,2.118363,1.0,0.003589,1.538496,0.535143,0.027748,0.350015,0.266737
19,"(soup, spaghetti)",(mineral water),0.014265,0.238368,0.007466,0.523364,2.195614,1.0,0.004065,1.597933,0.552427,0.030451,0.374192,0.277342

#### final associated items based on highest lifts...

In [65]:
assoc_rules.sort_values(by='lift', ascending=False).iloc[:3,:]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,"(ground beef, eggs)",(mineral water),0.019997,0.238368,0.010132,0.506667,2.125563,1.0,0.005365,1.543848,0.540342,0.040816,0.352268,0.274586
1,"(ground beef, milk)",(mineral water),0.021997,0.238368,0.011065,0.503030,2.110308,1.0,0.005822,1.532552,0.537969,0.044385,0.347493,0.274725

In [67]:
assoc_rules1.sort_values(by='lift', ascending=False).iloc[:3,:]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
13,"(shrimp, ground beef)",(spaghetti),0.011465,0.17411,0.005999,0.523256,3.005315,1.0,0.004003,1.732354,0.674995,0.033408,0.422751,0.278856
6,"(frozen vegetables, ground beef)",(spaghetti),0.016931,0.17411,0.008666,0.511811,2.939582,1.0,0.005718,1.691742,0.671179,0.047515,0.408893,0.280791
9,"(frozen vegetables, olive oil)",(spaghetti),0.011332,0.17411,0.005733,0.505882,2.905531,1.0,0.003760,1.671444,0.663346,0.031899,0.401715,0.269404